<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcb.modules.sys.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="${entityPackage}.SysUser">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_user" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="version" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="birthday" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="login_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="order_no" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="personal_email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="photo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="qq" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sex" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tel" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="mobile" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="original_password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="default_organ_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="person_email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="weixin" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_time, create_user, status, update_time, update_user, version, address, 
    birthday, code, email, login_name, name, order_no, password, personal_email, photo, 
    qq, remark, sex, tel, user_type, mobile, original_password, default_organ_id, person_email, 
    weixin
  </sql>
  <select id="selectByExample" parameterType="${entityPackage}.SysUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_sys_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="${entityPackage}.SysUserExample">
    delete from t_sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="${entityPackage}.SysUser">
    insert into t_sys_user (id, create_time, create_user, 
      status, update_time, update_user, 
      version, address, birthday, 
      code, email, login_name, 
      name, order_no, password, 
      personal_email, photo, qq, 
      remark, sex, tel, user_type, 
      mobile, original_password, default_organ_id, 
      person_email, weixin)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{version,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, 
      #{code,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{orderNo,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, 
      #{personalEmail,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{tel,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, 
      #{mobile,jdbcType=VARCHAR}, #{originalPassword,jdbcType=VARCHAR}, #{defaultOrganId,jdbcType=VARCHAR}, 
      #{personEmail,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="${entityPackage}.SysUser">
    insert into t_sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="personalEmail != null">
        personal_email,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="originalPassword != null">
        original_password,
      </if>
      <if test="defaultOrganId != null">
        default_organ_id,
      </if>
      <if test="personEmail != null">
        person_email,
      </if>
      <if test="weixin != null">
        weixin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="personalEmail != null">
        #{personalEmail,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="originalPassword != null">
        #{originalPassword,jdbcType=VARCHAR},
      </if>
      <if test="defaultOrganId != null">
        #{defaultOrganId,jdbcType=VARCHAR},
      </if>
      <if test="personEmail != null">
        #{personEmail,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        #{weixin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="${entityPackage}.SysUserExample" resultType="java.lang.Long">
    select count(*) from t_sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_sys_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null">
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.loginName != null">
        login_name = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=INTEGER},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.personalEmail != null">
        personal_email = #{record.personalEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null">
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null">
        qq = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.tel != null">
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null">
        user_type = #{record.userType,jdbcType=INTEGER},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.originalPassword != null">
        original_password = #{record.originalPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.defaultOrganId != null">
        default_organ_id = #{record.defaultOrganId,jdbcType=VARCHAR},
      </if>
      <if test="record.personEmail != null">
        person_email = #{record.personEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.weixin != null">
        weixin = #{record.weixin,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_sys_user
    set id = #{record.id,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=TIMESTAMP},
      code = #{record.code,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      login_name = #{record.loginName,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      order_no = #{record.orderNo,jdbcType=INTEGER},
      password = #{record.password,jdbcType=VARCHAR},
      personal_email = #{record.personalEmail,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      qq = #{record.qq,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      tel = #{record.tel,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=INTEGER},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      original_password = #{record.originalPassword,jdbcType=VARCHAR},
      default_organ_id = #{record.defaultOrganId,jdbcType=VARCHAR},
      person_email = #{record.personEmail,jdbcType=VARCHAR},
      weixin = #{record.weixin,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="${entityPackage}.SysUser">
    update t_sys_user
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="personalEmail != null">
        personal_email = #{personalEmail,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="originalPassword != null">
        original_password = #{originalPassword,jdbcType=VARCHAR},
      </if>
      <if test="defaultOrganId != null">
        default_organ_id = #{defaultOrganId,jdbcType=VARCHAR},
      </if>
      <if test="personEmail != null">
        person_email = #{personEmail,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        weixin = #{weixin,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="${entityPackage}.SysUser">
    update t_sys_user
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      code = #{code,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      personal_email = #{personalEmail,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      tel = #{tel,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=VARCHAR},
      original_password = #{originalPassword,jdbcType=VARCHAR},
      default_organ_id = #{defaultOrganId,jdbcType=VARCHAR},
      person_email = #{personEmail,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="${entityPackage}.SysUser">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_user" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="version" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="birthday" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="login_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="order_no" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="personal_email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="photo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="qq" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sex" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tel" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="mobile" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="original_password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="default_organ_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="person_email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="weixin" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_time, create_user, status, update_time, update_user, version, address, 
    birthday, code, email, login_name, name, order_no, password, personal_email, photo, 
    qq, remark, sex, tel, user_type, mobile, original_password, default_organ_id, person_email, 
    weixin
  </sql>
  <select id="selectByExample" parameterType="${entityPackage}.SysUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_sys_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="${entityPackage}.SysUserExample">
    delete from t_sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="${entityPackage}.SysUser">
    insert into t_sys_user (id, create_time, create_user, 
      status, update_time, update_user, 
      version, address, birthday, 
      code, email, login_name, 
      name, order_no, password, 
      personal_email, photo, qq, 
      remark, sex, tel, user_type, 
      mobile, original_password, default_organ_id, 
      person_email, weixin)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{version,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, 
      #{code,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{orderNo,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, 
      #{personalEmail,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{tel,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, 
      #{mobile,jdbcType=VARCHAR}, #{originalPassword,jdbcType=VARCHAR}, #{defaultOrganId,jdbcType=VARCHAR}, 
      #{personEmail,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="${entityPackage}.SysUser">
    insert into t_sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="personalEmail != null">
        personal_email,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="originalPassword != null">
        original_password,
      </if>
      <if test="defaultOrganId != null">
        default_organ_id,
      </if>
      <if test="personEmail != null">
        person_email,
      </if>
      <if test="weixin != null">
        weixin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="personalEmail != null">
        #{personalEmail,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="originalPassword != null">
        #{originalPassword,jdbcType=VARCHAR},
      </if>
      <if test="defaultOrganId != null">
        #{defaultOrganId,jdbcType=VARCHAR},
      </if>
      <if test="personEmail != null">
        #{personEmail,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        #{weixin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="${entityPackage}.SysUserExample" resultType="java.lang.Long">
    select count(*) from t_sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_sys_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null">
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.loginName != null">
        login_name = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=INTEGER},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.personalEmail != null">
        personal_email = #{record.personalEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null">
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null">
        qq = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.tel != null">
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null">
        user_type = #{record.userType,jdbcType=INTEGER},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.originalPassword != null">
        original_password = #{record.originalPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.defaultOrganId != null">
        default_organ_id = #{record.defaultOrganId,jdbcType=VARCHAR},
      </if>
      <if test="record.personEmail != null">
        person_email = #{record.personEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.weixin != null">
        weixin = #{record.weixin,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_sys_user
    set id = #{record.id,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=TIMESTAMP},
      code = #{record.code,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      login_name = #{record.loginName,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      order_no = #{record.orderNo,jdbcType=INTEGER},
      password = #{record.password,jdbcType=VARCHAR},
      personal_email = #{record.personalEmail,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      qq = #{record.qq,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      tel = #{record.tel,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=INTEGER},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      original_password = #{record.originalPassword,jdbcType=VARCHAR},
      default_organ_id = #{record.defaultOrganId,jdbcType=VARCHAR},
      person_email = #{record.personEmail,jdbcType=VARCHAR},
      weixin = #{record.weixin,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="${entityPackage}.SysUser">
    update t_sys_user
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="personalEmail != null">
        personal_email = #{personalEmail,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="originalPassword != null">
        original_password = #{originalPassword,jdbcType=VARCHAR},
      </if>
      <if test="defaultOrganId != null">
        default_organ_id = #{defaultOrganId,jdbcType=VARCHAR},
      </if>
      <if test="personEmail != null">
        person_email = #{personEmail,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        weixin = #{weixin,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="${entityPackage}.SysUser">
    update t_sys_user
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      code = #{code,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      personal_email = #{personalEmail,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      tel = #{tel,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=VARCHAR},
      original_password = #{originalPassword,jdbcType=VARCHAR},
      default_organ_id = #{defaultOrganId,jdbcType=VARCHAR},
      person_email = #{personEmail,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>